[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pandas = "*"
python-multipart = "*"
openpyxl = "*"
python-jose = "*"
pydantic = {extras = ["email"], version = "*"}
bcrypt = "*"
alembic = "*"
httpx = "*"
pytest = "*"
pydantic-settings = "*"
indic-transliteration = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
